h1{
    margin:20px;
    color: black;
}

button {
    background-color: black;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    border-radius: 1px;
    margin-left: 20px;
    margin-right: 40px;
}
form{
    text-align: center;
}
label {
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
}
