h1{
    margin:30px
}

button {
    background-color: black;
    padding: 10px 20px;
    border-color: white;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 40px;
}

form{
    text-align: center;
}
label {
    font-size: 20px;
    text-align: center;
}
